<section class="hero">
  <div class="overlay"></div>
  <div class="navbar">
    <div class="logo">
      <i>reservas - a.c.</i>
    </div>
    <div class="nav-buttons">
      <button class="btn-auth" (click)="goToLogin()">Iniciar Sesión</button>
      <button class="btn-auth" (click)="goToRegister()">Registrarse</button>
    </div>
  </div>
  <div class="hero-content">
      <h1>Reserva tu cancha en segundos</h1>
      <p>Encuentra y reserva fácilmente la mejor cancha para tu partido.</p>
      <a href="#" class="btn">Reservar Ahora</a>
  </div>
</section>
